<!-- Eryri Educational Platform - UI Component | v0.2 | (C) Juti Noppornpitak and eryri-web contributors | MIT License -->

<nav class="off-canvas primary">
    <a href="#more" class="activator"><span class="glyphicon glyphicon-align-justify"></span><span class="sr-only"> Main menu</span></a>
    <a class="deactivator"></a>
    <div class="menus">
        <a href="/" class="brand"><span class="icon"></span><span class="text">Supagarn School of Music</span></a>
        <h2>Services</h2>
        <ul>
            <li><a href="/services/photography.html"><span class="icon glyphicon glyphicon-camera"></span><span class="text">Photography</span></a></li>
            <li><a href="/services/software-development.html"><span class="icon glyphicon glyphicon-cog"></span><span class="text">Web/Software Development</span>
            </a></li>
            <li><a href="/projects"><span class="icon glyphicon glyphicon-leaf"></span><span class="text">Project Directory</span></a></li>
        </ul>
        <h2>Miscellanous</h2>
        <ul>
            <li><a href="/misc/talks.html"><span class="icon"></span><span class="text">Public Speakings</span></a></li>
            <li><a href="https://twitter.com/shiroyuki"><span class="icon"></span><span class="text">@shiroyuki</span></a></li>
        </ul>
    </div>
</nav>