{# Local settings #}
{%- set shorttitle = 'Supagarn School of Music' %}
{%- set thai_title = 'โรงเรียนดนตรีศุภการ' %}
{%- set enable_cdn = False %}
{%- set enable_google_analytics = False %}

{%- macro script() %}
    {% if enable_cdn %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% else %}
        <script src="/static/vendors/jquery.js"></script>
        <script src="/static/vendors/bootstrap-3.1.0/js/bootstrap.min.js"></script>
    {% endif %}
    <script src="/static/js/navi.js"></script>
{%- endmacro %}

{%- macro css() %}
    {% if enable_cdn %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
    {% else %}
        <link rel="stylesheet" href="/static/vendors/bootstrap-3.1.0/css/bootstrap.min.css"/>
    {% endif %}
    {%- for cssfile in css_files %}
        <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {%- endfor %}
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/navi.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>{{ thai_title }}</title>
    {{ css() }}
</head>
<body>
    <div class="off-canvas-wrapper primary shift-right">
        {% include '_navi.html' %}
        <article class="off-canvas-content">
            {# Hero Card: Custom Promoting Content #}
            <div class="card hero">
                <h1>Le Monde de Jazz</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            {# Primary Card: Brand, About, Contact Information #}
            <div class="card primary">
                <div class="brand">
                    <canvas width="80" height="80"></canvas>
                    <span>{{ shorttitle }}</span>
                </div>
                <div class="about">
                    <p>
                        ตั้งแต่ พ.ศ. ๒๕๒๖ โรงเรียนดนตรีศุภการ ได้ให้การศึกษาแก่เยาวชน และบุคคลทั่วไปกว่า ๙๐๐๐ คน
                        ในจำนวนนี้ส่วนที่เป็นนักเรียน นักศึกษาได้นำเอาดนตรี ไปใช้พัฒนา ด้าน E.Q. และใช้ประโยชน์ในชีวิตประจำวัน
                        บางส่วนนำ ความรู้ไปศึกษาต่อในสถาบันดนตรีทั้งในประเทศ และต่างประเทศ บางส่วนนำความรู้ความสามารถไปประกอบอาชีพเกี่ยวกับดนตรี
                    </p>
                    <p>
                        อำนวยการสอนโดยอาจารย์ประทักษ์ ใฝ่ศุภการ
                    </p>
                </div>
            </div>
            {# Secondary Card: Contact Information #}
            <div class="card secondary">
                <h1>Secondary Unit for Other Information</h1>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
            </div>
        </article>
    </div>

    <!-- JavaScript -->
    {{ script() }}

    {% if enable_google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2625743-1']);
            _gaq.push(['_setDomainName', '.shiroyuki.com']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</body>
</html>
