@import 'font';

body {
    text-rendering: optimizeLegibility;
    font-family:
        'Helvetica Neue',
        'Helvetica',
        'Open Sans',
        'Open Sans Condensed',
        'Roboto',
        'Roboto Condensed',
        sans-serif
    ;
}

img {
    max-width: 100%;
}

header.primary {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    //color: #23ade4;
    color: #fff;
}

footer {
    margin-top: 45px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    color: #999;
}

.off-canvas-wrapper {
    position: relative;
}

/***** Responsive Design *****/
@media (min-width: 970px) {
    .off-canvas-content div.cover {
        height: 545px;
    }

    .off-canvas-content div.cover + .container {
        padding-top: 565px;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-top: 80px;
    }
}