@import 'mixins';

$highlightedColor: #23ade4;

// Overriding Navi.scss
.off-canvas-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.card.hero {
    background-color: #666;
    left: 30%;
    right: 30%;
}

.card.primary {
    left: 0;
    right: 70%;
    background-color: #eee;

    .brand {
        font-family: 'Roboto', 'Helvetica Neue', 'Open Sans';
        padding: 20px;

        canvas,img {
            background-color: #ccc;
        }

        span {
            display: block;
            font-size: 48px;
            font-weight: 200;
            text-transform: uppercase;
        }
    }

    .about {
        padding: 20px;
    }
}

.card.secondary {
    left: 70%;
    right: 0;
}

@media (max-width: 970px) {
    .card {
        position: static;
        overflow: hidden;
    }

    .card.primary {
        .brand {
            overflow: hidden;
            padding-left: 75px;

            canvas,img {
                position: absolute;
                left: 0;
                height: 65px;
            }
        }
    }
}

@media (max-width: 768px) {
    .card.primary {
        .brand {
            overflow: hidden;
            padding-left: 60px;

            canvas,img {
                position: absolute;
                left: 0;
                height: 50px;
            }

            span {
                font-size: 36px;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 480px) {
}