/***** Enhancement *****/
.off-canvas-content {
    position: relative;
}

.off-canvas-content header {
    font-size: 24px;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 100;
    letter-spacing: 1px;
}

.off-canvas-content h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.off-canvas-content div.cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center middle;
}

.off-canvas-content div.cover + .container {
    padding-top: 420px;
}

.off-canvas-content div.cover + .container .row h1 {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 15px;
    margin-top: -120px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.photo-group {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    background-color: #000;
}

/***** Page-specific Stylesheet *****/
body[data-path="index"] article > .section > ul li a:hover {
    text-decoration: none;
}

body[data-path="services/index"] article > .section > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body[data-path="services/index"] article > .section > ul li {
    display: block;
    float: left;
}

body[data-path="services/index"] article > .section > ul li a {
    display: block;
    padding: 10px 20px 10px 10px;
    margin-bottom: 5px;
    width: 240px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    vertical-align: top;
    height: 150px;
    color: #000;
    border-left: 1px solid #000;
}

body[data-path="services/index"] article > .section > ul li a:hover {
    text-decoration: none;
}

body[data-path="services/index"] article > .section > ul li em {
    font-style: normal;
}